video {
    /* object-fit: cover; */
    margin: 0;
    padding: 0;
    height: 100vh;
    position: absolute;
    /* font-weight: lighter; */
    /* color: white; */
    text-align: center;
    /* letter-spacing: 40px; */
    top: 50%;
    transform: translateY(-50%);
    /* opacity: -1; */
    /* color: red; */
    /* background-color: black; */
    /* width: 100%; */
    /* font-size: 250px; */
    /* font-family: 'Black Ops One', cursive; */
    /* backface-visibility: hidden; */
} 
