.navbar-container {
    left: 0;
    top: 0;
    position: fixed;
    background-color: yellow;
    width: 100%;
    padding: 15px;
}

.links {
    float: right;
    padding-right: 100px; 
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
}

.navbar {
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 50px;
    position: absolute;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(100px);
         }
    80% {
        transform: translateX(-10px);
         }
    100%{
        opacity: 1;
        transform: translate(0);
          }
}

.navbar-logo-1, .navbar-logo-2 {
    /* color: #dd2c00; */
    /* font-weight: bold; */
}

.logo-2 {
    margin-right: 10px;
}