.project-container {
    position: relative;
    padding: 0;
    height: 550px;
    width: 1000px;
    background-color: white;
    border: 1px solid white;
    margin: 100px auto;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.project-right-side {
    float: right;
    margin: 35px 35px 35px 35px;
    height: 370px;
    width: 400px;
}

.project-title {
    letter-spacing: 10px;
    /* font-weight: bold;  */
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.project-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border: .2px solid black;
    /* width: 40%; */
}

.project-summary {
    position: absolute;
    line-height: 30px;
    /* height: 350px; */
    width: 440px;
    padding: 0px 10px 10px 0px;
    float: right;
    letter-spacing: 5.5px;
    font-size: 16px;
}

.project-footer{
    letter-spacing: 2.5px;
    padding-top: 15px;
    position: absolute;
    /* bottom: 40%;  */
    /* float: left; */
    /* position: absolute; */
    bottom: 90%;
    top: 90%;
    /* display: inline-block; */
}

.footer {
    color: black;
    margin-right: 10px;
    font-size: 16px;
    /* display: inline-block; */
    /* text-align: center; */
}

.footer-links {
    /* margin-top: 20px; */
    padding-right: 70px;
    font-size: 10px;
    /* letter-spacing: 6px; */
    /* display: inline block; */
    text-transform: uppercase;
    color: black;
    display: inline-block;
    /* text-decoration: none; */
}

.project-triangle-shape {
    width: 0;
    height: 0;
    position: absolute;
    top: 22%;
    /* bottom: 50%; */
    left: 25%;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 240px solid #006a71;
    margin-bottom: 20px; 
    transform: rotate(180deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* opacity: 1; */
}

.project-triangle-shape-2 {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 21%;
    /* bottom: 50%; */
    left: 25%;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 240px solid goldenrod;
    margin-bottom: 20px; 
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* opacity: 1; */
}

.project-circle-shape-3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 46%;
    left: 28%;
    background-color: #fa26a0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.project-circle-shape-4 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 46%;
    left: 45%;
    background-color: rgba(42, 157, 143, 1);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}